:root {
	color-scheme: light dark;

	/**
	 * Theme tokens are used to define the visual style of the application.
	 * They are derived from foundational system tokens and provide a consistent
	 * look and feel across all components and pages. These are aliases for
	 * the CSS custom properties defined in system-tokens.css that are easier to
	 * reference in your application's CSS.
	 */
	--eg-theme-font-family-sans: var(--eg-system-font-family-humanist);
	--eg-theme-font-size-md: var(--eg-system-size-20);
	--eg-theme-font-size-mdlg: var(--eg-system-size-28);
	--eg-theme-spacing-md: var(--eg-system-size-20);
	--eg-theme-spacing-mdlg: var(--eg-system-size-24);
	--eg-theme-spacing-lg: var(--eg-system-size-32);

	/* Light theme */
	--eg-theme-body-background: var(--eg-system-color-cool-10);
	--eg-theme-body-color: var(--eg-system-color-cool-210);

	/* Step indicator component-specific styles */
	--eg-c-step-indicator-color-default: var(--eg-system-color-cool-110);
	--eg-c-step-indicator-color-active: var(--eg-system-color-neutral-190);
	--eg-c-step-indicator-color-completed: var(--eg-system-color-warm-110);
	--eg-c-step-indicator-item-marker-size: 7px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--eg-theme-body-background: var(--eg-system-color-cool-210);
		--eg-theme-body-color: var(--eg-system-color-cool-10);

		/* Step indicator component-specific styles */
		--eg-c-step-indicator-color-default: var(--eg-system-color-cool-40);
		--eg-c-step-indicator-color-active: var(--eg-system-color-cool-10);
		--eg-c-step-indicator-color-completed: var(--eg-system-color-warm-30);
		--eg-c-step-indicator-border-color-completed: var(
			--eg-system-color-warm-70
		);
		--eg-c-step-indicator-border-color-default: var(--eg-system-color-cool-70);
	}
}

body {
	background: var(--eg-theme-body-background);
	color: var(--eg-theme-body-color);
	font-family: var(--eg-theme-font-family-sans);
	font-size: var(--eg-theme-font-size-md);
	margin: var(--eg-theme-spacing-lg);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
	margin-block-start: 0;
}
