:root {
	/**
	 * Chances are, you have some foundational system tokens that define
	 * the color palette and sizes used in your application. These tokens are
	 * used throughout your design system to ensure consistency
	 * across all components and pages.
	 */
	--eg-system-color-neutral-10: oklch(1 0 0);
	--eg-system-color-neutral-20: oklch(0.95 0 0);
	--eg-system-color-neutral-30: oklch(0.9 0 0);
	--eg-system-color-neutral-40: oklch(0.85 0 0);
	--eg-system-color-neutral-50: oklch(0.8 0 0);
	--eg-system-color-neutral-60: oklch(0.75 0 0);
	--eg-system-color-neutral-70: oklch(0.7 0 0);
	--eg-system-color-neutral-80: oklch(0.65 0 0);
	--eg-system-color-neutral-90: oklch(0.6 0 0);
	--eg-system-color-neutral-100: oklch(0.55 0 0);
	--eg-system-color-neutral-110: oklch(0.5 0 0);
	--eg-system-color-neutral-120: oklch(0.45 0 0);
	--eg-system-color-neutral-130: oklch(0.4 0 0);
	--eg-system-color-neutral-140: oklch(0.35 0 0);
	--eg-system-color-neutral-150: oklch(0.3 0 0);
	--eg-system-color-neutral-160: oklch(0.25 0 0);
	--eg-system-color-neutral-170: oklch(0.2 0 0);
	--eg-system-color-neutral-180: oklch(0.15 0 0);
	--eg-system-color-neutral-190: oklch(0.1 0 0);
	--eg-system-color-neutral-200: oklch(0.05 0 0);
	--eg-system-color-neutral-210: oklch(0 0 0);
	--eg-system-color-cool-10: oklch(0.95 0.025 277);
	--eg-system-color-cool-20: oklch(0.9 0.05 277);
	--eg-system-color-cool-30: oklch(0.85 0.075 277);
	--eg-system-color-cool-40: oklch(0.8 0.1 277);
	--eg-system-color-cool-50: oklch(0.75 0.125 277);
	--eg-system-color-cool-60: oklch(0.7 0.15 277);
	--eg-system-color-cool-70: oklch(0.65 0.175 277);
	--eg-system-color-cool-80: oklch(0.6 0.2 277);
	--eg-system-color-cool-90: oklch(0.55 0.225 277);
	--eg-system-color-cool-100: oklch(0.5 0.25 277);
	--eg-system-color-cool-110: oklch(0.45 0.275 277);
	--eg-system-color-cool-120: oklch(0.4 0.3 277);
	--eg-system-color-cool-130: oklch(0.392 0.245 275.646);
	--eg-system-color-cool-140: oklch(0.346 0.213 277.569);
	--eg-system-color-cool-150: oklch(0.34 0.207 278.835);
	--eg-system-color-cool-160: oklch(0.317 0.189 282.32);
	--eg-system-color-cool-170: oklch(0.287 0.168 284.212);
	--eg-system-color-cool-180: oklch(0.238 0.136 288.462);
	--eg-system-color-cool-190: oklch(0.225 0.129 288.706);
	--eg-system-color-cool-200: oklch(0.183 0.103 290.877);
	--eg-system-color-cool-210: oklch(0.135 0.073 298.008);
	--eg-system-color-warm-10: oklch(0.95 0.025 350);
	--eg-system-color-warm-20: oklch(0.9 0.05 350);
	--eg-system-color-warm-30: oklch(0.85 0.075 350);
	--eg-system-color-warm-40: oklch(0.8 0.1 350);
	--eg-system-color-warm-50: oklch(0.75 0.125 350);
	--eg-system-color-warm-60: oklch(0.7 0.15 350);
	--eg-system-color-warm-70: oklch(0.65 0.175 350);
	--eg-system-color-warm-80: oklch(0.6 0.2 350);
	--eg-system-color-warm-90: oklch(0.55 0.225 350);
	--eg-system-color-warm-100: oklch(0.5 0.25 350);
	--eg-system-color-warm-110: oklch(0.45 0.275 350);
	--eg-system-color-warm-120: oklch(0.4 0.3 350);
	--eg-system-color-warm-130: oklch(0.392 0.245 348.077);
	--eg-system-color-warm-140: oklch(0.346 0.213 346.154);
	--eg-system-color-warm-150: oklch(0.34 0.207 344.888);
	--eg-system-color-warm-160: oklch(0.317 0.189 341.393);
	--eg-system-color-warm-170: oklch(0.287 0.168 339.501);
	--eg-system-color-warm-180: oklch(0.238 0.136 335.251);
	--eg-system-color-warm-190: oklch(0.225 0.129 334.997);
	--eg-system-color-warm-200: oklch(0.183 0.103 333.226);
	--eg-system-color-warm-210: oklch(0.135 0.073 326.095);
	--eg-system-size-2: 0.125rem;
	--eg-system-size-4: 0.25rem;
	--eg-system-size-8: 0.5rem;
	--eg-system-size-12: 0.75rem;
	--eg-system-size-16: 1rem;
	--eg-system-size-20: 1.25rem;
	--eg-system-size-24: 1.5rem;
	--eg-system-size-28: 1.75rem;
	--eg-system-size-32: 2rem;
	--eg-system-font-family-humanist:
		Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
		sans-serif;
}
